{% extends "base.html" %} {% block content %}
<style>
h2 {text-align: center;}
p {text-align: center;}
</style>
<h2> Recommend Movies to User </h2>

<div>
    <form align="center" id="upload-file" method="post" enctype="multipart/form-data" action="/recommend">
      <label for="userid"> Enter User ID: </label>
      <input type="text" id="userId" name="userid"> <br><br>
      <input type="submit" id="btn-predict" value="Recommend !">
    </form>

    <div class="loader" style="display:none;"></div>

    <h3 align="center" id="result">
        <span> </span>
    </h3>

</div>

{% endblock %}